<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.postech.edu/aadl/xtext/propspec/PropSpec" 
       class = "edu.postech.aadl.xtext.propspec.propSpec.PropSpecPackage"
       genModel = "edu/postech/aadl/xtext/propspec/PropSpec.genmodel" /> 
	
  </extension>




</plugin>
